body {
  background-color: #f8f9fa;
}

.menu-container {
  background-color: #6db8ff; /* Cor de fundo do menu */
  padding: 20px;
  border-radius: 8px;
  max-width: 370px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  overflow-y: auto;
  border: 2px solid #000; /* Borda preta no menu */
}

.profile-box { /* Adicionado */
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #000; /* Borda preta ao redor da caixa do perfil */
  margin-bottom: 20px;
}

.profile-info {
  text-align: center;
}

.profile-info img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 2px solid #000; /* Borda preta na imagem do perfil */
}

.menu {
  margin-bottom: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* Garante que os botões tenham a mesma largura do menu */
  border: 2px solid #000; /* Borda preta nos botões */
}

.menu-item:hover {
  background-color: #f0f0f0;
}

.menu-item img.menu-icon {
  width: 18px; /* Tamanho do ícone */
  height: 18px; /* Tamanho do ícone */
  margin-right: 10px; /* Espaço entre o ícone e o texto */
}

.current-date {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}

.calendar {
  font-family: Arial, sans-serif;
  height: 250px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sem borda preta no calendário */
}

.month {
  text-align: center;
  margin-bottom: 10px;
}

.weekdays {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 5px;
  font-size: 14px;
}

.days {
  display: flex;
  flex-wrap: wrap;
}

.day {
  width: calc(100% / 7);
  padding: 5px;
  text-align: center;
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 30px;
  cursor: pointer;
}

.day:hover {
  background-color: #f0f0f0;
}

.event {
  background-color: #ffeb3b;
}

.events-list {
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sem borda preta no calendário */
}

.event-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.event-item:last-child {
  border-bottom: none;
}

.event-date {
  font-weight: bold;
}

.event-name {
  margin-left: 10px;
}

.event-color-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.rounded-profile-img {
  width: 150px; /* Ajuste conforme necessário */
  height: 150px; /* Ajuste conforme necessário */
  object-fit: cover; /* Garante que a imagem preencha a área definida */
  border-radius: 50%; /* Aplica a máscara circular */
  border: 2px solid #000; /* Borda preta na imagem do perfil */
}
